<div class="bioBox">
    <div class="bioLeft">
        <img class="bioImg" src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" />
    </div>
    <div class="bioCenter">
        <div class="bioLine1">Jane Doe ( 23 | Female )</div>
        <div class="bioLine2">
            <div class="bioLineHead">Height:&nbsp;</div>
            <div class="bioLineDesc">5'6</div>
        </div>
        <div class="bioLine2">
            <div class="bioLineHead">Weight:&nbsp;</div>
            <div class="bioLineDesc">130lbs</div>
        </div>
        <div class="bioLine2">
            <div class="bioLineHead">Known Conditions:&nbsp;</div>
            <div class="bioLineDesc">asthma, ...</div>
        </div>
    </div>
    <div class="bioRight">
        <div class="bioGradeHead">Health Grade</div>
        <div class="bioGrade">A</div>
        <button class="bioGradeBtn">View Full Report</button>
    </div>
</div>