<div class="eventBox">
    <div class="eventLeft">
        <img class="eventImg" src="https://image.freepik.com/free-vector/doctor-character-background_1270-84.jpg" />
        <div class="eventDr">Dr. Doctor</div>
    </div>
    <div class="eventCenter">
        <div class="eventLine1">General Practice</div>
        <div class="eventLine2">
            <div class="eventCell">
                <div class="eventCellLeft">Surgeries:&nbsp;</div>
                <div class="eventCellRight">none</div>
            </div>
            <div class="eventCell">
                <div class="eventCellLeft">Tests:&nbsp;</div>
                <div class="eventCellRight">Physical</div>
            </div>
            <div class="eventCell">
                <div class="eventCellLeft">Prescriptions:&nbsp;</div>
                <div class="eventCellRight">none</div>
            </div>
        </div>
            <div class="eventNotes">
                <div class="eventNoteTitle">Notes:&nbsp;</div>
                <div class="eventNoteDesc">Patient had concerns regarding overall energy levels. Recommended diet with less carbohydrates ...</div>
            </div>
    </div>
    <div class="eventRight">
        <div class="eventDateMo">MAY</div>
        <div class="eventDateDay">22</div>
    </div>
</div>